/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --prussian-blue: #1A344D;
    --burgundy: #7B242C;
    --light-coral: #F08080;
    --jonquil: #F6CE38;
    --white: #fff;
}

body {
    /* Disables Text Selection: Prevents users from copying text */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* Body Styles */
    font-family: 'Source Code Pro', monospace;
    max-width: 1645px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    text-align: center; /* Center align the navigation */
    border: 2px solid var(--prussian-blue); /* Add border */
    border-radius: 10px; /* Make it circular */
    padding: 10px;
    margin-top: 20px;
}

nav a.active {
    color: var(--light-coral); /* Change color to highlight the active link */
    font-weight: bold; /* Optionally, apply other styles to indicate active link */
}

/* Remove bullet points and set list items to display horizontally */
nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: inline-block; /* Ensure the navigation stays centered */
}

nav ul li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px; /* Adjust spacing between list items */
}

/* Style the links */
nav ul li a {
    text-decoration: none; /* Remove underlines from links */
    color: var(--light-coral); /* Adjust link color */
    padding: 10px; /* Add padding for better clickability */
}

/* Hide dropdown menu by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--white); /* Background color for dropdown menu */
    padding: 10px; /* Add padding for dropdown items */
    border: 1px solid var(--prussian-blue); /* Add border for dropdown menu */
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style dropdown menu items */
.dropdown-menu li {
    display: block;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    color: var(--burgundy);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--burgundy);
}

/* Switch Visual Modes */
.sr-only {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

.mode-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it appears above other content */
}

.mode-switch-label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: var(--light-coral); /* Default background color for the switch */
    border-radius: 20px;
    cursor: pointer;
}

.mode-switch-label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--white); /* Default color for the switch button */
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0); /* Initial box-shadow (no glow) */
}

#mode-switch-toggle:checked + .mode-switch-label:before {
    transform: translateX(20px); /* Move the switch button to the right */
    box-shadow: 0 0 8px 2px var(--white); /* Add glow effect */
}

/* Footer styles */
footer {
    background-color: var(--prussian-blue);
    color: var(--white);
    padding: 50px 0;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--light-coral);
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links ul li a {
    color: var(--white);
    text-decoration: none;
}

.social-links a {
    color: var(--white);
    font-size: 20px;
    margin-right: 10px;
}

.contact i {
    margin-right: 10px;
}

.footer-bottom {
    background-color: var(--burgundy);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

/* iSTEM Button Link Styles */
.istemp-info-link {
    display: inline-block;
    text-decoration: none;
}

.istemp-info-button {
    background-color: var(--jonquil); /* Change to your desired button color */
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.istemp-info-button:hover {
    background-color: var(--prussian-blue); /* Darker shade on hover */
}

/* Gallery styles */
.gallery {
    position: relative;
    margin-top: 20px;
}

.slides {
    display: flex;
    overflow-x: hidden;
}

.slides img {
    width: 100%;
    height: 900px;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


section {
    margin-bottom: 40px;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--jonquil);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: var(--prussian-blue);
}

/* Dark Mode Styles */
/* Add dark mode class to elements that need color change */

body.dark-mode {
    background-color: var(--prussian-blue); /* Background color for dark mode */
    color: var(--white); /* Text color for dark mode */
}

nav.dark-mode {
    background-color: var(--prussian-blue); /* Background color for dark mode */
    color: var(--white); /* Text color for dark mode */
    border-color: var(--white); /* Border color for dark mode */
}

nav.dark-mode a.active {
    color: var(--white); /* Active link color for dark mode */
}

nav.dark-mode ul li a {
    color: var(--white); /* Link color for dark mode */
}

.dropdown-menu.dark-mode {
    background-color: var(--prussian-blue); /* Background color for dropdown menu in dark mode */
    border-color: var(--white); /* Border color for dropdown menu in dark mode */
}

h1.dark-mode,
h2.dark-mode {
    color: var(--white); /* Heading color for dark mode */
}

footer.dark-mode {
    background-color: var(--prussian-blue); /* Background color for footer in dark mode */
    color: var(--white); /* Text color for footer in dark mode */
}

.footer-bottom.dark-mode {
    background-color: var(--burgundy); /* Background color for footer bottom in dark mode */
}

.istemp-info-button.dark-mode {
    background-color: var(--jonquil); /* Button color for iSTEM button in dark mode */
}

.istemp-info-button.dark-mode:hover {
    background-color: var(--prussian-blue); /* Button hover color for iSTEM button in dark mode */
}

.form-container.dark-mode {
    background-color: var(--prussian-blue); /* Background color for form container in dark mode */
    color: var(--white); /* Text color for form container in dark mode */
}

.form-button.dark-mode {
    background-color: var(--jonquil); /* Button color for form button in dark mode */
}

.form-button.dark-mode:hover {
    background-color: var(--prussian-blue); /* Button hover color for form button in dark mode */
}
